$primary-color: #2ecc71;
$secondary-color:#3498db;
$background-color: #f0f0f0;
$text-color: #333;
$text-color-inactive: #888;
$hover-color: #ddd;
$shadow-color: rgba(0, 0, 0, 0.1);

.side-menu {
  width: 200px;
  min-height: 95.5vh;
  background: linear-gradient(to bottom, $primary-color, $secondary-color);
  box-shadow: 0 2px 5px $shadow-color;
  padding: 1rem;
  font-family: 'Roboto', sans-serif;

  nav {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      margin-bottom: 1rem;

      a {
        color: $text-color;
        text-decoration: none;
        display: flex;
        align-items: center;
        padding: 1rem;
        transition: background-color 0.2s ease;

        &:hover {
          background-color: $hover-color;
        }

        &.active {
          background-color: $hover-color;
          color: $text-color;
        }

        svg {
          margin-right: 0.5rem;
          color: $text-color;
        }
      }
    }
  }
}
